<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAVI TRAVEL</title>
    <!-- فونت فارسی مدرن ایران سنس -->
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/iransans@v6.2.0/dist/font-face.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'IRANSans', sans-serif;
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body class="bg-blue-900 text-white">
    {% block content %}{% endblock %}
</body>

</html>